__pycache__/
*.pyc
*.pyo
.ruff_cache/
.vscode/
.DS_Store
.git/
.gitignore
.env
.envrc

logs/
todos/
docs/
testcases/

Dockerfile
docker-compose.yml
docker-compose.override.yml
README.md
todo.md
fehler.txt
build.sh
check.sh
LICENSE
